<app-header></app-header>
<button class='menuToggle'>&#9776;</button>
<div class="menu">
  <ul>
    <li>
        <div class="card" style="width:200px; background-color: #23ad9b;">
            <div id="userimg" style="width:150px;">
            <img *ngIf="gender === 'male' || gender === 'Male'" class="card-img-top" [src]="'assets/img/maleuser.png'" alt="Card image" style="width:100%">
            <img *ngIf="gender === 'female' || gender === 'Female'" class="card-img-top" [src]="'assets/img/femaleuser.png'" alt="Card image" style="width:100%">
            </div>
            <div style="margin-left: auto; margin-right: auto;"  class="card-body">
              <h4 style="font-weight: bolder;" class="card-title"><b>{{name}}</b></h4>
            </div>
          </div>
    </li> 
    <li>
      <a><i class="fa fa-edit" aria-hidden="true"></i><label [routerLink]="['/edituserprofile']" style="cursor: pointer;">&nbsp; Edit Profile</label></a>
    </li> 
    <li>
      <a><i class="fa fa-user-md" aria-hidden="true"></i><label [routerLink]="['/doctorlist']" style="cursor: pointer;">&nbsp; Doctor List</label></a>
    </li>
    <li>
      <a><i class="fa fa-clock-o" aria-hidden="true"></i><label [routerLink]="['/checkslots']" style="cursor: pointer;">&nbsp; Check Slots</label></a>
    </li>
    <li>
      <a><i class="fa fa-calendar" aria-hidden="true"></i><label [routerLink]="['/bookappointment']" style="cursor: pointer;">&nbsp; New Appointment</label></a>
    </li>
    <li>
      <a><i class="fa fa-check" aria-hidden="true"></i><label [routerLink]="['/approvalstatus']" style="cursor: pointer;">&nbsp; Approval status</label></a>
    </li>
    <li>
      <a><i class="fa fa-sticky-note-o" aria-hidden="true"></i><label [routerLink]="['/prescriptionlist']" style="cursor: pointer;">&nbsp; Your Prescription</label></a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div style="color: maroon; font-weight: bolder; font-family: aladin; letter-spacing: 1px; font-size: 40px; margin: 0% 0% 1% 9%;"><b>Welcome to HealthCare Management System User Dashboard</b></div>
    <div style="color: darkgreen; font-weight: bold; font-size: 22px; margin: 0% 0% 2% 33%;"><b>[Author - GowthamRaj K]</b></div>
    <div class="dashboard-card">
        <div class="circle"><i id="icons" class="fa fa-user-md"></i></div>
        <div class="text">Total Doctors</div>
        <div class="sub-text" *ngFor="let doctor of doctors | async">{{doctor}} doctors</div>
      </div>
      <div class="dashboard-card" style="background-color: rgb(151, 85, 23);">
        <div class="circle"><i id="icons" class="fa fa-user"></i></div>
        <div class="text" >Total Users</div>
        <div class="sub-text" *ngFor="let user of users | async">{{user}} users</div>
      </div>
      <div class="dashboard-card" style="background-color: rgb(173, 55, 55);">
        <div class="circle"><i id="icons" class="fa fa-user-o"></i></div>
        <div class="text">Total Patients</div>
        <div class="sub-text" *ngFor="let patient of patients | async">{{patient}} patients</div>
      </div>
      <div class="dashboard-card" style="background-color: rgb(24, 88, 32);">
        <div class="circle"><i id="icons" class="fa fa-calendar"></i></div>
        <div class="text">Total Slots</div>
        <div class="sub-text" *ngFor="let slot of slots | async">{{slot}} slots available</div>
      </div>
  </div>
</div>

<br><br><br><br>
<app-footer></app-footer>