<app-header></app-header>

<button class='menuToggle'>&#9776;</button>
<div class="menu">
  <ul>
    <li>
        <div class="card" style="width:200px; background-color: #23ad9b;">
            <div id="userimg" style="width:150px;">
              <img *ngIf="gender === 'male' || gender === 'Male'" class="card-img-top" [src]="'assets/img/maledoctor.png'" alt="Card image" style="width:100%">
              <img *ngIf="gender === 'female' || gender === 'Female'" class="card-img-top" [src]="'assets/img/femaledoctor.png'" alt="Card image" style="width:100%">
            </div>
            <div style="margin-left: auto; margin-right: auto;"  class="card-body">
              <h4 style="font-weight: bold;" class="card-title"><b>{{name}}</b></h4>
            </div>
        </div>
    </li>  
    <li>
      <a><i class="fa fa-edit" aria-hidden="true"></i><label [routerLink]="['/editdoctorprofile']" style="cursor: pointer;">&nbsp; Edit Profile</label></a>
    </li>
    <li>
      <a><i class="fa fa-check" aria-hidden="true"></i><label [routerLink]="['/approvalstatus']" style="cursor: pointer;">&nbsp; Approval status</label></a>
    </li>
    <li>
      <a><i class="fa fa-clock-o" aria-hidden="true"></i><label [routerLink]="['/scheduleslots']" style="cursor: pointer;">&nbsp; Your schedule</label></a>
    </li>
    <li>
      <a><i class="fa fa-user-md" aria-hidden="true"></i><label [routerLink]="['/doctorlist']" style="cursor: pointer;">&nbsp; Doctor List</label></a>
    </li>
    <li>
      <a><i class="fa fa-user-o" aria-hidden="true"></i><label [routerLink]="['/patientlist']" style="cursor: pointer;">&nbsp; Patients</label></a>
    </li>
    <li>
      <a><i class="fa fa-calendar" aria-hidden="true"></i><label [routerLink]="['/appointments']" style="cursor: pointer;">&nbsp; Appointments</label></a>
    </li>
    <li>
      <a><i class="fa fa-sticky-note-o" aria-hidden="true"></i><label [routerLink]="['/addprescription']" style="cursor: pointer;">&nbsp; Add Prescriptions</label></a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div style="color: maroon; font-weight: bolder; font-family: aladin; letter-spacing: 1px; font-size: 40px; margin: 0% 0% 1% 9%;"><b>Welcome to HealthCare Management System Doctor Dashboard</b></div>
    <div style="color: darkgreen; font-weight: bold; font-size: 22px; margin: 0% 0% 2% 33%;"><b>[Author - GowthamRaj K]</b></div>
    <div class="dashboard-card">
        <div class="circle"><i id="icons" class="fa fa-sticky-note"></i></div>
        <div class="text">Prescriptions</div>
        <div class="sub-text" *ngFor="let prescription of prescriptions | async">{{prescription}} medications</div>
      </div>
      <div class="dashboard-card" style="background-color: rgb(26, 109, 74);">
        <div class="circle"><i id="icons" class="fa fa-user"></i></div>
        <div class="text" >Total Doctors</div>
        <div class="sub-text" *ngFor="let doctor of doctors | async">{{doctor}} doctors</div>
      </div>
      <div class="dashboard-card" style="background-color: rgb(87, 92, 27);">
        <div class="circle"><i id="icons" class="fa fa-user-o"></i></div>
        <div class="text">Total Patients</div>
        <div class="sub-text" *ngFor="let patient of patients | async">{{patient}} patients</div>
      </div> 
      <div class="dashboard-card" style="background-color: rgb(88, 45, 25);">
        <div class="circle"><i id="icons" class="fa fa-calendar"></i></div>
        <div class="text">Total Slots</div>
        <div class="sub-text" *ngFor="let slot of slots | async">{{slot}} slots</div>
      </div>     
  </div>
</div>

<br><br><br><br><br><br>
<app-footer></app-footer>