<app-header></app-header>

<div class="panel panel-primary">
    <div class="panel-heading">
      <h2 style="text-align: center; font-family: 'Oswald', sans-serif;color: darkgreen; margin-top: 3%; margin-bottom: 3%;"> Patient List </h2>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Idendity</th>
            <th>Patient ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Slot</th>
            <th>Date</th>
            <th>Problem</th>
            <th>Approval</th>
            <th>Admission</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients | async">
            <td><img *ngIf="patient.gender === 'Male' || patient.gender === 'male'" class="bloodimg" [src]="'assets/img/maleuser.png'" width="80" height="80">
              <img *ngIf="patient.gender === 'Female' || patient.gender === 'female'" class="bloodimg" [src]="'assets/img/femaleuser.png'" width="80" height="80">
              </td>
            <td>
              <div class="date-cover">{{patient.patientid}}</div>
            </td>
            <td>{{patient.patientname}}</td>
            <td>{{patient.age}} years</td>
            <td>
              <div *ngIf="loggedUser === 'admin@gmail.com'">
                <div class="slotcover">{{patient.slot}}</div>
              </div>
                <div *ngFor="let slot of slots | async">
                    <div *ngIf="patient.slot === 'AM slot' && slot.amstatus === 'booked' && patient.date === slot.date">
                        <div class="slotcover">{{slot.amslot}}</div>
                    </div>
                    <div *ngIf="patient.slot === 'Noon slot' && slot.noonstatus === 'booked' && patient.date === slot.date">
                        <div class="slotcover">{{slot.noonslot}}</div>
                    </div>
                    <div *ngIf="patient.slot === 'PM slot' && slot.pmstatus === 'booked' && patient.date === slot.date">
                        <div class="slotcover">{{slot.pmslot}}</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="date-cover">{{patient.date}}</div>
            </td>
            <td>{{patient.problem}}</td>
            <td>
               <div *ngIf="currRole === 'admin' || currRole === 'ADMIN'">
                <div *ngIf="patient.appointmentstatus === 'accept'" class="accepted">Accepted</div>
                <div *ngIf="patient.appointmentstatus === 'false'" class="pending">Pending</div>
                <div *ngIf="patient.appointmentstatus === 'reject'" class="rejected">Rejected</div>
              </div>
                <div *ngIf="patient.appointmentstatus === 'false' && currRole === 'doctor' || currRole === 'DOCTOR'" >
                    <button (click)="acceptRequest(patient.slot)" id="acceptbtn" value="patient.email" value="Accept" style="margin-bottom: 5px;" class="accepted">Accept</button><br>
                    <button (click)="rejectRequest(patient.slot)" id="rejectbtn" value="patient.email" value="Reject" class="rejected">Reject</button>
                    <div id="acceptedbtn" class="accepted" style="display: none;">Accepted</div>
                    <div id="rejectedbtn" class="rejected" style="display: none;">Rejected</div>
                  </div>
                  <div *ngIf="patient.appointmentstatus === 'accept' && currRole === 'doctor' || currRole === 'DOCTOR'" >
                    <div class="accepted">Accepted</div>
                  </div>
                  <div *ngIf="patient.appointmentstatus === 'reject' && currRole === 'doctor' || currRole === 'DOCTOR'" >
                    <div class="rejected">Rejected</div>
                  </div>
                <div *ngFor="let details of responses | async"></div>
            </td>
            <td>
                <div>
                    <div *ngIf="patient.admissionstatus === 'accept'" class="accepted">Admitted</div>
                    <div *ngIf="patient.admissionstatus === 'false'" class="pending">Pending</div>
                    <div *ngIf="patient.admissionstatus === 'reject'" class="rejected">Not Admitted</div>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<br><br><br><br><br><br><br><br>
<app-footer></app-footer>